<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<!-- Java-based annotation-driven Spring container definition -->
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext
		</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>com.gwtplatform.samples.basicspring.server</param-value>
	</context-param>
	
	<!-- for h2 starting -->
	<!-- <context-param>
		<param-name>db.url</param-name>
		<param-value>jdbc:h2:~/test</param-value>
	</context-param>
	<context-param>
		<param-name>db.user</param-name>
		<param-value>sa</param-value>
	</context-param>
	<context-param>
		<param-name>db.password</param-name>
		<param-value>sa</param-value>
	</context-param>
	<context-param>
		<param-name>db.tcpServer</param-name>
		<param-value>-tcpAllowOthers</param-value>
	</context-param> -->

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
		<!-- <listener-class>org.h2.server.web.DbStarter</listener-class> -->
	</listener>

	<servlet>
		<servlet-name>dispatch</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatch</servlet-name>
		<url-pattern>/dispatch/*</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Gwtpsamplespring.html</welcome-file>
	</welcome-file-list>

</web-app>
